<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		 <meta charset="utf-8" />
		<!-- link to main stylesheet -->
                <meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/cssfiles/mainpost.css">
		
		
	</head>
	<body>
		<div class="statical">
		<nav class="stylenav">
    		<ul>
        		<li><a href="/spieti">Home</a></li>
	        	<li><a href="/spieti/about">About</a></li>
        		<li><a href="/spieti/projects">Projects</a></li>
            <li><a href="/spieti/team">Team</a></li>
            <li><a href="/spieti/psd">PSD</a></li> <!-- policies - sponsorships - Donation -->
            <li><a href="/spieti/careers">Careers</a></li>
            <li><a href="/spieti/resources">Resources</a></li>
        		<li><a href="/spieti/blog">Blog</a></li>
    		</ul>
		</nav>
		</div>
		<!-- new addition -->
		<div id="main">
			<div class="container">
			<section class="wrapper style1">
			<div class="inner">
			<!-- 2 Columns -->
			<div class="flex flex-2">
			<div class="col col1">
			<!--<div class="image round fit">
		        <a href="generic.html" class="link"><img src="../css/images/pic01.jpg" alt="" /></a>
			</div>-->
			</div>
			<div class="col col2">
			
			{{ content }}
			
			
		        </div>
			</div>
			</div>
			</section>
			</div><!-- /.container -->
			</div>
			
		        <div>
				<a href="https://darkdem.github.io/blog/"><center>Go back to the list</center></a>
</div>
		<!-- end -->

		
		
		<!--<div class="container">
    		<div class="blurb">
        
        		{{ content }}
            
    		</div><!-- /.blurb -->
		<!--</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:spietechnoindia@gmail.com">email</a></li>
        		<li>Contributor: <a href="https://github.com/DarkDem">github.com/DarkDem</a></li>
			</ul>
		</footer>
	</body>
</html>
